<mat-accordion *ngFor="let players of MyPlayers">
  <mat-expansion-panel [expanded]="true" >
      
      <mat-expansion-panel-header>
 
          <mat-panel-title>
              <h3> {{ players.fname }} </h3>
          </mat-panel-title>

          <mat-panel-description>
              <h3>{{ players.lname }}</h3>
          </mat-panel-description>
      
          <mat-panel-description>
              <h3>{{ players.age }}</h3>
          </mat-panel-description>

          <mat-panel-description>
              <h3>{{ players.club }}</h3>
          </mat-panel-description>
  
      </mat-expansion-panel-header>

      <mat-action-row>
           <button mat-button [routerLink]="['/edit', players._id]" color="primary">EDIT</button>
          <button mat-button (click)="onDelete(players._id)" color="warn">DELETE</button>
      </mat-action-row>

  </mat-expansion-panel>
</mat-accordion>