
<h1>Welcome the players database!</h1>

<p>This application will be used for inputing your favourite cars,
    along with the engine size and year of the particular 
</p>


 <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">

    <button mdbBtn type="button" gradient="green" size="lg" class="waves-light" [routerLink]="['/read']" mdbWavesEffect>Read</button>
    <button mdbBtn type="button" gradient="green" size="lg" class="waves-light" [routerLink]="['/create']" mdbWavesEffect>Create</button>
    <button mdbBtn type="button" gradient="green" size="lg" class="waves-light" [routerLink]="['/search']" mdbWavesEffect>Search</button>
    <button mdbBtn type="button" gradient="green" size="lg" class="waves-light" [routerLink]="['/news']" mdbWavesEffect>News</button>

</div>
