.main {
    position: centre, absolute;
    margin-left: 30%;
    margin-right: 30%;
width: 40%;
border: 3px solid goldenrod;
padding: 10px;
text-align: center;
}    

#map {
    height: 300px; /* like this */
    width: 500px;
}
div  {
    background-color: rgb(145, 93, 77);
  }